<div class="row footer">
  <form class="col s12">
    <div class="row">
      <p class="title"> Para mais informações entre em contato </p>
      <div class="input-field col s6 name ">
        <input id="icon_prefix" type ="text" class="validate font-color">
        <i class="material-icons prefix">account_circle</i>
      </div>
      <div class="input-field col s6 mail">
        <input id="icon_email" type="number" class="validate">
        <i class="material-icons prefix">email</i>
      </div>

    </div>

    <div class="row">
      <div class="input-field col s8 text-area">
        <input id="icon_field" type="text" class="validate">
        <i class="material-icons prefix">edit</i>
      </div>
      <div class="input-field col-2 s4">
        <a class="btn btn-enviar">ENVIAR</a>
      </div>
    </div>
  </form>
</div>
