<br><br><br>
<div>
  <h2 class="title">Comprovante de vacinação</h2>
</div>
<br><br><br>
<div>
  <h3 class="title">1º dose</h3>
  <a class="waves-effect waves-light btn-small">
    <h5 class="title">Baixar comprovante
      <i class="material-icons right">file_download</i>
    </h5>
  </a>
</div>
<br>
<div>
  <h3 class="title">2º dose</h3>

  <a class="waves-effect waves-light btn-small">
    <h5 class="title">Não disponível no momento
<!--      <i class="material-icons right">file_download</i>-->
    </h5>
  </a>
</div>
