<nav>
  <div class="nav-wrapper home">
    <a routerLink="/login" class="brand-logo right btn-registre">Registre-se</a>
    <ul id="nav-mobile" class="left">
      <li routerLinkActive="active" >
        <a class="btn-home" routerLink="/">Vacinação <br> COVID</a>
      </li>
      <li routerLinkActive="active" >
        <a class="btn-home-dados" routerLink="/dashboard">Dados e estatísticas</a>
      </li>
      <li routerLinkActive="active" >
        <a class="btn-home-calendar" routerLink="/calendario">Calendário de vacinação</a>
      </li>
      <li routerLinkActive="active" >
        <a class="btn-home-download" routerLink="/comprovantes">Baixar comprovante de vacinação</a>
      </li>
    </ul>
  </div>
</nav>
